<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment :: resources}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song Details</title>
</head>
<body>
<nav th:replace="~{fragment :: navbar}"></nav>
<div class="card mt-5 mx-auto text-center" style="width: 18rem;">
    <div class="card-body">
        <h1 class="card-title" th:text="${movie.title}"></h1>
        <h3 class="card-subtitle mb-2 text-muted" th:text="${movie.director}"></h3>
        <p class="card-text" th:text="${movie.description}"></p>
    </div>
</div>
<th:block th:replace="~{fragment :: scripts}"></th:block>
</body>
</html>